<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Selected Event: Alliance Picker
    </title>
</head>

<body>
    <h1>
        Specific Event Information (Alliance Picker)
    </h1>

    <a href="/matchpicker"><button>Back to Alliance Selector Home Page</button></a>

    <h2>Basic Info</h2>
    <div id="basicInf">
        <ul>
            <li>
                <b>
                    <%=event.name%>
                </b>
            </li>
            <li>
                Venue: <%=event.location.venue%>
            </li>
            <li>
                <%=event.location.city%>, <%=event.location.region%>, <%=event.location.country%>
            </li>
            <li>
                Start Date: <%=event.unformatStart%>
            </li>
            <li>
                End Date: <%=event.unformatEnd%>
            </li>
            <li>Level: <%=event.level%>
            </li>
        </ul>
    </div>

    <h2>Specific Stats</h2>
    <div id="specificInf">
        <ul>
            <li>Event ID: <%=event.id%>
            </li>
            <li>Event SKU: <%=event.sku%>
            </li>
            <li>Season ID: <%=event.season.id%>
            </li>
            <li>Season Name: <%=event.season.name%>
            </li>
            <% if(event.season.awards_finalized===true) { %>
                <li>Awards Finalized: True </li>
                <% } else { %>
                    <li>Awards Finalized: False </li>
                    <% } %>

                        <h4>Divisions:</h4>
                        <% for(event.division of event.divisions) { %>
                            <li>Division ID: <%=event.division.id%>
                            </li>
                            <li>Division Name: <%=event.division.name%>
                            </li>
                            <li>Division Order: <%=event.division.order%>
                            </li>

                            <% } %>
        </ul>
    </div>

    <!-- <h3>What do you want to value?</h3>
    <button id="4md">4 Motor Drive</button>
    <button id="6md">6 Motor Drive</button>
    <button id="2md">2 Motor Drive</button>
    <button id="2mf">Double Flywheel</button>
    <button id="1mf">Single Flywheel</button>
    <button id="cata">Catapult</button>
    <button id="aut">Match Auton</button>
    <button id="autwp">Auton Win Point</button> -->

    <% if(sorted.length> 0) { %>

        <form action="/picker/<%=event.id%>/filtered" method="POST">
            <h3>Higher Valuation</h3>
            <select name="selectBox" id="selectBox" multiple>
                <option value="choose" selected disabled hidden>Choose an option</option>
                <option value="fourmd">4 Motor Drive</option>
                <option value="twomd">2 Motor Drive</option>
                <option value="sixmd">6 Motor Drive</option>
                <option value="twomf">2 Motor Flywheel</option>
                <option value="onemf">1 Motor Flywheel</option>
                <option value="cata">Catapult</option>
                <option value="aut">Match Auton</option>
                <option value="autwp">Auton Win Point</option>
            </select>
            <button>Save</button>
        </form>

        <% for(i=0; i < sorted.length; i++) { %>
            <% const sort=sorted[i]%>
                <div>
                    <h3>#<%=i+1%> Choice: </h3>
                    <p><b><a href="/display/<%=event.id%>/<%=sort.number%>">Team Number: <%=sort.number%></a></b></p>
                    <p>TrueSkill Ranking: <%=sort.trueSkill%>
                    </p>
                    <p>Skills:
                        <br>
                        Driver: <%=sort.skills.driving%>
                            <br>
                            Auton: <%=sort.skills.auton%>
                                <br>
                                Total: <%=sort.skills.total%>
                    </p>
                </div>
                <% } %>
                    <% } else {%>
                        <h3>No Teams Found</h3>
                        <% } %>

</body>

</html>