<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Event</title>

    <link rel="stylesheet" href="/css/general.css" type="text/css">
</head>

<body>
    <h1>Alliance Selector Help Tool</h1>
    <h2>Select the competing event</h2>

    <div id="nav">
        <nav>
            <a href="/teams/worlds"><button class="onset">Worlds Teams</button></a>
            <a href="/teams/nj"><button class="onset">NJ Teams</button></a>
            <a href="/events"><button class="onset">Upcoming Events</button></a>
            <a href="/info"><button class="onset">Website Information</button></a>

            <form action="/picker/" method="post">
                <input name="eventSearcher" type="text" id="dropdown" placeholder="Event Search (id)">
                <button type="submit" id="submit">Submit</button>

            </form>

        </nav>
    </div>

    <h4>Filters</h4>
    <div id="filters">
        <form action="/matchpicker/region/" method="post">
            <input type="text" name="search" placeholder="Search by Region" id="filteredInp1">
            <button class="remove">Submit</button>
        </form>
        <form action="/matchpicker/country/" method="post">
            <input type="text" name="search" placeholder="Search by Country" id="filteredInp2">
            <button class="remove">Submit</button>
        </form>
        <form action="/matchpicker/level/" method="post">
            <select name="select" id="select">
                <option value="choose" selected disabled hidden>Choose a level</option>
                <option value="regional">Regional</option>
                <option value="signature">Signature</option>
                <option value="other">Other</option>
            </select>
            <button class="remove">Submit</button>
        </form>
    </div>

    <input type="text" id="region" name="region">

    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Title</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <% for(i=0; i<events.length; i++) { %>
                    <tr>
                        <td>
                            <a class="link" href="/picker/<%=events[i].id%>">
                                <%=events[i].id%>
                            </a>

                        </td>
                        <td>
                            <%=events[i].name%>
                        </td>
                        <% if (events[i].location.city) {%>
                            <td>
                                <%=events[i].location.city%>
                            </td>
                            <% } else { %>
                                <td>UNKNOWN</td>
                                <% } %>

                                    <% if (events[i].location.region) {%>
                                        <td>
                                            <%=events[i].location.region%>
                                        </td>
                                        <% } else { %>
                                            <td>UNKNOWN</td>
                                            <% } %>


                                                <td>
                                                    <%=events[i].location.country%>
                                                </td>

                                                <td>
                                                    <%=events[i].unformatStart%>
                                                </td>
                                                <td>
                                                    <%=events[i].unformatEnd%>
                                                </td>
                                                <td>
                                                    <%=events[i].level%>
                                                </td>



                    </tr>
                    <%} %>
            </tbody>
        </table>
    </div>
</body>

</html>