<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=team.number%> Information
    </title>

    <link rel="stylesheet" href="../public/css/team.css">
</head>

<body>
    <div id="wraph1">
        <h1>
            Specific Team Information
        </h1>
    </div>

    <% if(eventT===true) { %>
        <div class="but">
            <a href="/picker/<%=foundEvent.id%>"><button class="butt">Back to Event Data</button></a>
        </div>
        <% } else { %>
            <div class="but">
                <a href="/teams/worlds"><button class="butt">Back to Worlds Data</button></a>
            </div>
            <% } %>

                <div id="basicInf">
                    <h2 id="basicInfH">Basic Info</h2>
                    <ul>
                        <li id="bol">
                            <b>
                                <%=team.number%>:
                                    <%=team.team_name%>
                            </b>
                        </li>
                        <li>Team ID: <%=team.id%>
                        </li>
                        <% if(team.organization) { %>
                            <li>
                                <%=team.organization%>
                            </li>

                            <% } %>

                                <% if(team.location.country !=='United States' ) { %>

                                    <% if(team.location.region) { %>
                                        <li>
                                            <%=team.location.city%>, <%=team.location.region%>,
                                                    <%=team.location.country%>
                                        </li>
                                        <% } else { %>
                                            <li>
                                                <%=team.location.city%>, <%=team.location.country%>
                                            </li>
                                            <% } %>

                                                <% } else {%>
                                                    <li>
                                                        <%=team.location.city%>, <%=team.location.region%>
                                                    </li>
                                                    <% } %>

                                                        <li>
                                                            Program Level: <%=team.grade%>
                                                        </li>
                    </ul>
                </div>

                <div id="specificInf">
                    <h2 id="specificInfH">Specific Stats</h2>
                    <ul>
                        <h3>Skills</h3>
                        <li>Driver Skills: <%=team.skills.driving%>
                        </li>
                        <li>Programming Skills: <%=team.skills.auton%>
                        </li>
                        <li>Total Skills Score: <%=team.skills.total%>
                        </li>
                        <li><b>World Skills Rank: <%=team.worldSkillsRank%></b></li>

                        <h3>Match Play</h3>
                        <li>Total Win-Loss Record (this season): <%=team.rankings.wins%>-<%=team.rankings.losses%>
                        </li>
                        <li>W-L Ratio: <%=team.rankings.unweightedRate.toFixed(3)%>
                        </li>
                        <li>Average Strength of Schedule (per match): <%=team.rankings.avgSoS.toFixed(3)%>
                        </li>
                        <li>Tipping Point Worlds: <%=team.worlds%>
                        </li>

                        <h3>Algorithm Specific</h3>
                        <li><b>Algorithm Rank: <%=team.algorithmNumber%></b>
                        </li>
                        <li>True Skill Calculation: <%=team.trueSkill.toFixed(3)%>
                        </li>
                        <li>Weighted W-L Ratio: <%=team.rankings.weightedRate.toFixed(3)%>
                        </li>

                    </ul>
                </div>

                <div id="award">
                    <h2 id="awardH">Award Count</h2>
                    <h3 class="label">Spin Up:</h3>
                    <% if(team.awards.excellence> 0) { %>
                        <span class="tpaward">
                            <li>Excellence Awards:
                                <%=team.awards.excellence%>
                            </li>
                        </span>
                        <%} if(team.awards.champion> 0) { %>
                            <span class="tpaward">
                                <li>Tournament Champions:
                                    <%=team.awards.champion%>
                                </li>
                            </span>
                            <% } if(team.awards.skills> 0) { %>
                                <span class="tpaward">
                                    <li>Robot Skills Champions:
                                        <%=team.awards.skills%>
                                    </li>
                                </span>
                                <% } if(team.awards.finalist> 0) { %>
                                    <span class="tpaward">
                                        <li>Tournament Finalists:
                                            <%=team.awards.finalist%>
                                        </li>
                                    </span>
                                    <% } if(team.awards.skills2> 0) { %>
                                        <span class="tpaward">
                                            <li>Robot Skills 2nd
                                                Place:
                                                <%=team.awards.skills2%>
                                            </li>
                                        </span>
                                        <% } if(team.awards.skills3> 0) { %>
                                            <span class="tpaward">
                                                <li> Robot Skills
                                                    3rd Place:
                                                    <%=team.awards.skills3%>
                                                </li>
                                            </span>
                                            <% } if(team.awards.think> 0) { %>
                                                <span class="tpaward">
                                                    <li>Think
                                                        Awards:
                                                        <%=team.awards.think%>
                                                    </li>
                                                </span>
                                                <% } %>
                                                    <%const l=team.awards%>
                                                        <% if((l.excellence==false ) && (l.champion==false ) &&
                                                            (l.think==false) && (l.skills==false) && (l.finalist==false)
                                                            && (l.skills2==false) && (l.skills3==false)) { %>
                                                            <li class="noawards">
                                                                No Spin Up Awards
                                                            </li>
                                                            <% } %>

                                                                <h3 class="label">Tipping Point:</h3>
                                                                <% if(team.tpawards.excellence> 0) { %>
                                                                    <span class="tpaward">
                                                                        <li>Excellence Awards:
                                                                            <%=team.tpawards.excellence%>
                                                                        </li>
                                                                    </span>
                                                                    <%} if(team.tpawards.champion> 0) { %>
                                                                        <span class="tpaward">
                                                                            <li>Tournament
                                                                                Champions:
                                                                                <%=team.tpawards.champion%>
                                                                            </li>
                                                                        </span>
                                                                        <% } if(team.tpawards.skills> 0) { %>
                                                                            <span class="tpaward">
                                                                                <li>Robot Skills
                                                                                    Champions:
                                                                                    <%=team.tpawards.skills%>
                                                                                </li>
                                                                            </span>
                                                                            <% } if(team.tpawards.finalist> 0) {
                                                                                %>
                                                                                <span class="tpaward">
                                                                                    <li>Tournament
                                                                                        Finalists:
                                                                                        <%=team.tpawards.finalist%>
                                                                                    </li>
                                                                                </span>
                                                                                <% } if(team.tpawards.skills2>
                                                                                    0) {
                                                                                    %>
                                                                                    <span class="tpaward">
                                                                                        <li> Robot
                                                                                            Skills 2nd
                                                                                            Place:
                                                                                            <%=team.tpawards.skills2%>
                                                                                        </li>
                                                                                    </span>
                                                                                    <% } if(team.tpawards.skills3>
                                                                                        0) { %>
                                                                                        <span class="tpaward">
                                                                                            <li>
                                                                                                Robot Skills
                                                                                                3rd Place:
                                                                                                <%=team.tpawards.skills3%>
                                                                                            </li>
                                                                                        </span>
                                                                                        <% } if(team.tpawards.think>
                                                                                            0) { %>
                                                                                            <span class="tpaward">
                                                                                                <li>Think
                                                                                                    Awards:
                                                                                                    <%=team.tpawards.think%>
                                                                                                </li>
                                                                                            </span>
                                                                                            <% } %>
                                                                                                <%const
                                                                                                    t=team.tpawards%>
                                                                                                    <% if((t.excellence==false
                                                                                                        ) &&
                                                                                                        (t.champion==false
                                                                                                        ) &&
                                                                                                        (t.think==false)
                                                                                                        &&
                                                                                                        (t.skills==false)
                                                                                                        &&
                                                                                                        (t.finalist==false)
                                                                                                        &&
                                                                                                        (t.skills2==false)
                                                                                                        &&
                                                                                                        (t.skills3==false))
                                                                                                        { %>
                                                                                                        <li
                                                                                                            class="noawards">
                                                                                                            No
                                                                                                            Tipping
                                                                                                            Point
                                                                                                            Awards

                                                                                                        </li>
                                                                                                        <% } %>
                </div>


                <div id="scoutingBox">
                    <h2 id="scoutingH">Robot Features</h2>
                    <form method="post" action='/boxes/<%=team.id%>'>
                        <ul>
                            <li><label class="labelc" for="4md">4 Motor Drive</label>
                                <input class="check" type="checkbox" name="fourmd" id="4md" <%=team.fourmdrive
                                    ? "checked" : "" %>>
                            </li>
                            <li><label class="labelc" for="2md">2 Motor Drive</label>
                                <input class="check" type="checkbox" name="twomd" id="2md" <%=team.twomdrive ? "checked"
                                    : "" %>>
                            </li>
                            <li> <label class="labelc" for="6md">6 Motor Drive</label>
                                <input class="check" type="checkbox" name="sixmd" id="6md" <%=team.sixmdrive ? "checked"
                                    : "" %>>
                            </li>
                            <li> <label class="labelc" for="2mf">Double Flywheel</label>
                                <input class="check" type="checkbox" name="twomf" id="2mf" <%=team.dbflywheel
                                    ? "checked" : "" %>>
                            </li>
                            <li> <label class="labelc" for="1mf">Single Flywheel</label>
                                <input class="check" type="checkbox" name="onemf" id="1mf" <%=team.snflywheel
                                    ? "checked" : "" %>>
                            </li>
                            <li> <label class="labelc" for="cata">Catapult</label>
                                <input class="check" type="checkbox" name="cata" id="cata" <%=team.cata ? "checked" : ""
                                    %>>
                            </li>
                            <li> <label class="labelc" for="aut">Match Auton</label>
                                <input class="check" type="checkbox" name="aut" id="aut" <%=team.auton ? "checked" : ""
                                    %>>
                            </li>
                            <li> <label class="labelc" for="autwp">Match Auton Win Point</label>
                                <input class="check" type="checkbox" name="autwp" id="autwp" <%=team.wpauton ? "checked"
                                    : "" %>>
                            </li>
                            <li> <label class="labelc" for="endgame">Endgame Mech</label>
                                <input class="check" type="checkbox" name="endgame" id="endgame" <%=team.endgame
                                    ? "checked" : "" %>>
                            </li>
                            <li> <label class="labelc" for="goodEndg">Good Endgame Mech</label>
                                <input class="check" type="checkbox" name="goodEndg" id="goodEndg" <%=team.goodEndg
                                    ? "checked" : "" %>>
                            </li>

                        </ul>
                        <button id="save">Save</button>
                    </form>
                </div>

</body>

</html>